<article>
  <header>
    <h1><%= article.title %></h1>
  </header>

  <section class="article-content">
    <%= markdown article.content %>
  </section>

  <footer>
    <% if article.tldr %>
      <section class="tldr">
        <h3>tldr...</h3>
        <p><%= article.tldr %></p>
      </section>
    <% end %>

    created <time data-time="<%= article.js_created_at %>"><%= article.created_at %></time>
    <br>
    updated <time data-time="<%= article.js_updated_at %>"><%= article.updated_at %></time>
  </footer>
</article>

