<article>
  <header>
    <h1><%= link_to_unless_current article.title, "/#{article.slug}" %></h1>
  </header>

  <section class="article-content">
    <%= markdown article.content %>
  </section>

  <footer>
    created at: <time data-time="<%= article.js_created_at %>"><%= article.created_at %></time>
    <br>
    updated at: <time data-time="<%= article.js_updated_at %>"><%= article.updated_at %></time>
  </footer>
</article>

